@import "./function.scss";
.card-continer {
  padding: 2rem;
  width: 20rem;
  width: 25rem;
  margin-top: 2rem;
  @include flex(center);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  h2 {
    color: white;
  }
  img {
    width: 15rem;
    height: 15rem;
  }
}
